<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
    <dl>
        <dt>{author.uid}</dt>
        <dd>author.type: {author.type}</dd>
        <dd>slug: {author.slug}</dd>
        <dd>first_name: {author.firstName}</dd>
        <dd>middle_name: {author.middleName}</dd>
        <dd>last_name: {author.last_name}</dd>
        <dd>email: {author.email}</dd>
        <dd>phone: {author.phone}</dd>
        <dd>fax: {author.fax}</dd>
        <dd>mobile: {author.mobile}</dd>
        <dd>www: {author.www}</dd>
        <dd>company: {author.company}</dd>
        <dd>position: {author.position}</dd>
        <dd>description: {author.description}</dd>
        <dd>skype: {author.skype}</dd>
        <dd>twitter: {author.twitter}</dd>
        <dd>facebook: {author.facebook}</dd>
        <dd>linkedin: {author.linkedin}</dd>
        <dd>image: {author.image}</dd>
    </dl>
</f:section>

</html>
